@media (max-width:375px) {

  .nav-item a {
    font-size: 10px;
  }

  .menu-nav button{
    max-width: 50px;
  }
  button.navbar-toggler {
    font-size: 14px; 

  }
  .logo2 img{ 
    max-width: 100%;
    height: auto;
}
.redes {
  gap: 3px;
  margin-left: 40px;
  justify-content: left;  
}
.redes img{
  width: 10px;
}

}